# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Environment variables
# ==========================
.env

# ==========================
# Build files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Streamlit cache
# ==========================
.streamlit/secrets.toml

# ==========================
# Python cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Reports (optionnel)
# ==========================
reports/*.html
reports/*.pdf